<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="AgeMax" value="25"/>
		<add key="AgeBeginMature" value="10"/>
		<add key="AgeEndMature" value="15"/>
		<add key="MoveMaxLenght" value="5"/>
		<add key="ObserveRadiusPredator" value="2"/>
		<add key="EnergyMax" value="100"/>
		<add key="EnergyDecreaseOnIteration" value="10"/>
		<add key="EnergyHungryLvl" value="100"/>
		<add key="PregancyLenth" value="5"/>
		<add key="ObserveRadiusHerbivorous" value="3"/>
		<add key="EnergyMaxHerb" value="40"/>
		<add key="EnergyIncrease" value="4"/>
		<add key="AuqariumWidght" value="5"/>
		<add key="AuqariumHeight" value="5"/>
	</appSettings>
</configuration>